/********** General Styles **********/

/* Box sizing fix */
* {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  --primary-color: #1e3932; /* SB Green */
  --secondary-color: #eba272; /* SB Orange */
  --primary-highlight: #00754a; /* SB Light Green */
  --primary-font: "Open Sans", sans-serif;
}

body {
  font-family: var(--primary-font);
  padding: 0;
  margin: 0;
}

/* For use with locking scroll on mobile nav menu open */
.overflow-hidden {
  overflow: hidden;
}

section {
  margin: 2.5rem auto;
}

h1,
h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
}

ul {
  padding: 0;
}

a {
  transition: 0.25s ease-in;
}

button {
  border: none;
  background: none;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

/* Button styling for links */
.button {
  padding: 7px 16px;
  border: 1.75px solid #666;
  border-radius: 30px;
  transition: 0.25s ease-in;
  font-size: 0.9rem;
}

.button:hover {
  background: var(--primary-color);
  color: #fff;
  border: 1.75px solid var(--primary-color);
}

.button-dark {
  background: #000;
  color: #fff;
}

.button-light {
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 3px 5px #222;
}

.button-light:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.no-decoration {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.block-link {
  display: block;
  color: var(--primary-color);
}

.block {
  display: block !important;
}

.flex {
  display: flex;
}

.column {
  flex-flow: column;
}

.text-block-padding {
  padding: 3rem 2rem;
}

/* Adds outline effect to special highlighted text */
.stroke {
  color: #d4e9e2;
  text-shadow: -1px -1px 0 var(--primary-color), 1px -1px 0 var(--primary-color),
    -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.rotate-180 {
  transform: rotate(180deg);
}

/********** Nav Styles **********/

nav {
  padding: 0 4%;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06),
    0 0 2px rgba(0, 0, 0, 0.07);
  z-index: 99;
}

.nav-main-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  margin: 0;
}

nav li {
  list-style-type: none;
}

nav a {
  color: #000;
  display: inline-block;
}

.fa-2x {
  font-size: 1.6rem !important;
}

.topnav button {
  border: none;
  background: none;
  padding: 0;
  color: #868686;
  width: 36px;
  height: 36px;
  transition: 0.5s ease-in;
}

.topnav button:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.logo {
  background: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  padding: 5px;
}

.nav-location {
  margin-right: 10px;
  display: flex;
  gap: 7px;
}

/********** Mobile Nav Menu ***********/

.mobile-nav-menu {
  display: none;
  position: fixed;
  top: 69.594px;
  right: 0;
  height: calc(100% - 69.594px);
  width: 80vw;
  box-shadow: inset 0 4px 3px -3px rgba(0, 0, 0, 0.1),
    inset 0 4px 2px -2px rgba(0, 0, 0, 0.07);
  background: #fff;
  z-index: 1;
  border: 1px solid #ddd;
}

.mobile-nav-menu li,
.ham-nav-menu-buttons {
  padding: 20px;
}

.ham-nav-menu-buttons {
  display: flex;
  gap: 13px;
}

.ham-nav-menu-links {
  padding: 10px 20px;
}

.mobile-nav-menu hr {
  border: 2px solid var(--primary-color);
  opacity: 0.9;
  margin: 0 20px;
}

/* "Find a Store" button */
.mobile-nav-menu button ~ a:last-of-type {
  font-size: 0.9rem;
  font-weight: 600;
}

.nav-menu-button {
  display: flex;
  align-items: center;
}

/* Arrow icon */
.nav-menu-button > i {
  padding-left: 1rem;
}

.mobile-nav-item {
  color: #000;
  text-decoration: none;
  font-size: 1.4rem;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-27 21:7:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/********** Desktop Nav **********/

.desktop-nav-item {
  display: none;
  font-size: 0.9rem;
}

.desktop-nav-item:hover {
  color: var(--primary-highlight);
  border-bottom: 1px solid var(--primary-highlight);
}

.nav-secondary-links {
  display: none;
}

.nav-secondary-links > ul {
  display: flex;
  align-items: center;
  gap: 13px;
}

.nav-secondary-links a {
  text-decoration: none;
}

.nav-secondary-links a:hover {
  border-bottom: 1px solid var(--primary-highlight);
}

@media only screen and (min-width: 770px) {
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-main-links ul {
    justify-content: start;
    gap: 25px;
  }
  .nav-secondary-links {
    display: block;
  }
  .hamburger-menu {
    display: none;
  }
  .mobile-nav-menu {
    display: none !important;
  }
  .desktop-nav-item {
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
  }
}

/********** Main Content **********/

main {
  max-width: 1440px;
  margin: 0 auto;
}

/* General card styles */
.card-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-item > p {
  font-size: 1.2rem;
  line-height: 1.7;
}

/* Primary CTA section */
.primary-cta-slogan {
  background-color: #d4e9e2;
  font-size: 2rem;
}

.primary-cta {
  background-color: #1e3932;
  color: #fff;
}

.primary-cta h2 {
  font-size: 4.25rem;
  line-height: 1;
}

/* Holiday CTA section */

.holiday-cta {
  background-color: #d4e9e2;
  color: var(--primary-color);
}

.holiday-cta a {
  color: var(--primary-color);
}

.holiday-cta a:hover {
  color: var(--primary-color);
  background: rgba(0, 0, 0, 0.1);
}

/* Shared card styles */

.card-figure {
  height: 70vh;
  width: 100%;
  margin: 0;
  position: relative;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--primary-color);
  opacity: 0.9;
  color: #fff;
  padding: 1rem 0;
}

.card-caption a {
  color: #fff;
}

.card-caption a:hover {
  color: dodgerblue;
}

/* Featured product CTA section */

.featured-product-cta {
  background-color: #007042;
  color: #fff;
}

/* Notice */

.notice {
  text-align: center;
  margin: 0 auto;
  width: 80% !important;
}

.notice > h3 {
  margin-bottom: 19.2px;
}

/********** Footer **********/

footer {
  padding: 0 1.5rem;
}

footer ul {
  list-style-type: none;
}

.link-card a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  display: block;
  padding: 0.8rem 0;
  transition: 0.2s ease-in;
}

.link-card a:hover {
  color: #000;
  text-decoration: underline;
}

.link-top-card {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: 0.25s ease-in;
}

.link-top-card:hover {
  cursor: pointer;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

/* Social media links */

.social-media-links {
  gap: 15px;
}

.social-media-links a {
  color: #fff;
  background: rgba(0, 0, 0, 0.87);
  padding: 2px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.social-media-links a:hover {
  color: var(--primary-highlight);
  background: rgba(0, 0, 0, 0.8);
}

/* Supplemental footer links */

.supplemental-links {
  display: flex;
  flex-flow: column;
}

.supplemental-links a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  display: block;
  padding: 0.8rem 0;
  transition: 0.2s ease-in;
}

.supplemental-links a:hover {
  color: #000;
  text-decoration: underline;
}

.copyright {
  font-size: 0.8rem;
}

@media only screen and (min-width: 750px) {
  .card-container {
    display: flex;
  }
  .card-item {
    width: 50%;
  }
  .card-item > p {
    max-width: 80%;
  }
  .footer-links {
    font-size: 0.8rem;
  }
  .footer-links i {
    display: none;
  }
  .footer-links > ul {
    display: flex;
    justify-content: space-between;
  }
  .footer-links > ul > li {
    width: calc(100% / 5);
    padding: 0.25rem;
  }
  .about-hidden,
  .careers-hidden,
  .social-impact-hidden,
  .business-partners-hidden,
  .order-hidden {
    display: block !important;
  }
  .supplemental-links {
    flex-flow: row;
    gap: 25px;
  }
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 0.8rem;
  }
}
